<ion-view view-title="Cadastro" hide-back-button="true">
  <!--
    #IMPLEMENTATION-DETAIL;
    all view content is wrapped in a form in order to be able to leverage
    angular 'form' directive in all the view.
    #TIP: The form must have a "name" property set for using angular validation.
  -->
  <form name="accountForm">

  <!-- main content -->
  <ion-content>

    <div class=" text-center ui-gradient-deepblue padding">
        <img class="avatar-account" ng-src="{{user.avatar}}">
    </div>

    <!-- form fields -->
    <!--
      #IMPLEMENTATION-DETAIL:
      ng-readonly is set on each field and bound to $scope.readonly
    -->
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="accountUser.email" name="email" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Nome</span>
      <input type="text" ng-model="accountUser.nome" name="name" ng-readonly="readonly" required>
    </label>
    <!--label class="item item-input">
      <span class="input-label">Endereço</span>
      <input type="text" ng-model="accountUser.address" name="address" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Cidade</span>
      <input type="text" ng-model="accountUser.city" name="city" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">CEP</span>
      <input type="text" ng-model="accountUser.zip" name="zip code" ng-readonly="readonly" required>
    </label-->

    <!-- this leverages angular form directive to show up in case of errors-->
    <div class="item assertive item-text-wrap text-center" ng-if="accountForm.$invalid">
      Por favor, preencha todas as informações
    </div>

  </ion-content>

  <!-- footer bar -->
    <!--
      #IMPLEMENTATION-DETAIL:
      we switch footer bar when editing form data
    -->
  <!--ion-footer-bar class="bar bar-positive" ng-click="startEdit()" ng-if="readonly">
    <h2 class="title">Editar</h2>
    <button ng-show="!readonly" class="button button-assertive" ng-click="saveEdit()" ng-disabled="accountForm.$invalid">Salvar</button>
  </ion-footer-bar-->

  <ion-footer-bar class="bar bar-positive" ng-if="!readonly">
    <button ng-if="!readonly" class="button button-positive" ng-click="cancelEdit()">Cancelar</button>
    <h2 class="title"> </h2>
    <!--
      #IMPLEMENTATION-DETAIL:
      ng-disable disable the button in case of invalid form, leveraging form validation
    -->
    <button ng-show="!readonly" class="button button-energized" ng-click="saveEdit()" ng-disabled="accountForm.$invalid">Salvar</button>
  </ion-footer-bar>

  </form>

</ion-view>
