<ion-view view-title="Carrinho" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-plus-circled white-color" ng-click="addItem()"></button>
    <button class="button button-clear icon ion-bag white-color" ui-sref="app.shop"></button>
  </ion-nav-buttons>

  <!-- we use a subheader component to show total and links to checkout and shop-->
  <div class="bar bar-subheader bar-positive white-color">

    <h4 class="title">{{cart.products.length }} itens ({{getTotal(cart)}} Pts)</h4>

  </div>

  <form name="productForm">
  <ion-content class="has-header has-subheader has-footer">
    <div class="item item-divider" ng-if="cart.products.length">Deslize para remover itens</div>

    <label class="item item-input" ng-show="showItem">
      <span class="input-label">Item</span>
      <input type="text" ng-model="produto.id" name="id" ng-readonly="readonly" required>
    </label>
    <button ng-show="showItem" class="button button-energized" ng-click="addProduct(produto)" ng-disabled="accountForm.$invalid">Salvar</button>


    <div class="text-center" style="padding-top:40px;" ng-if="!cart.products.length">
      <h2 class="sans-pro-light">Carrinho vazio</h2>
      <div class="button button-outline button-energized button-deepblue-white" ui-sref="app.shop">Voltar a loja</div>
    </div>

    <!--
      #IMPLEMENTATION-DETAIL:
      we are using a swipeable list to give an interface to remove products
      from the cart. This is done by binding the "can-swipe" attribute of an
      "ion-list" to true.
    -->
    <ion-list can-swipe="true">
      <ion-item class="item item-avatar" ng-repeat="product in cart.products track by $index" >
        <!--
          #IMPLEMENTATION-DETAIL:
          we are using our custom classes here.
          see file scss/views.scss for implementation
        -->
        <img ng-src="{{product.caminhoImagem}}" alt="">
        <h2 class="title white-cxolor">{{product.nome}}</h2>
        <p>{{product.valor}} $</p>

        <!--
          #TIP: <ion-option-button> must be put into an <ion-item> and is visible only when our list is swiped. You can add more than one button here.
        -->
        <ion-option-button class="button-assertive" ng-click="dropProduct($index)">RETIRAR</ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
  </form>

  <!-- in case we have items, explain how to remove them in footer -->
  <ion-footer-bar class="bar" ng-class="{'bar-energized' : cart.products.length , 'bar-deepblue' : !cart.products.length}" ui-sref="{{ cart.products.length  ? 'app.checkout' : 'app.checkout' }}">
    <h2 class="title" ng-if="cart.products.length">Concluir</h2>
  </ion-footer-bar>

</ion-view>
