<ion-view view-title="Finalizar">
  <ion-content class="padding text-center">
    <h2 class="white-color sans-pro-light" style="margin-top:50px;">Finalizar Troca</h2>
    <h3 class="white-color sans-pro-light">
        Total de pontos: {{getTotal(cart)}} $
    </h3>
    <!--
        #IMPLEMENTATION-DETAIL:
        using custom class 'button-deepblue-white button-outline'.
        see scss/scaffolding.scss for implementation.
    -->
    <button ng-click="checkout()" class="button button-energized button-deepblue-white button-outline">REALIZAR TROCA</button>
  </ion-content>
</ion-view>
