<ion-view view-title="Extrato" hide-back-button="true">
  <div class="bar bar-subheader bar-positive white-color">

    <h4 class="title">Saldo Atual: {{getSaldoPontos()}}</h4>
  </div>
  <ion-content class="has-header has-subheader has-footer">
    <!-- here we use a ion-refresher -->
    <!--
      #SIMPLIFIED-IMPLEMENTATION:
      in our example refresh will do nothing as the data is fixed.
      The ui interaction works anyway!
      #IMPLEMENTATION-DETAIL:
      ion-refreshed is styled with our custom classes in "scss/themed.scss".
    -->
    <ion-refresher
      pulling-text="LOADING"
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- this message is shown in case of no feeds present -->
    <div class="text-center" style="padding-top:40px;" ng-if="!getPontos().length">
      <h1 class="sans-pro-light">No feeds</h1>
      <h4 class="sans-pro-light">Pull to refresh</h4>
      <h2 class="ion-ios-arrow-thin-down"></h2>
    </div>

    <!-- cycling in feeds -->
    <!--
        #SIMPLIFIED-IMPLEMENTATION:
        In this case we are using ng-repeat which is suitable
        for showing a small number of items in a list.
        In case of very long lists we recommend using "collection-repeat"
        directive that ships with ionic.
        Be aware that in that case your elements will have to be all the same height or you will have to provide a method to calculate each item height (and/or weight).
        see more here: http://ionicframework.com/docs/api/directive/collectionRepeat/
    -->
    <!--div ng-repeat="feed in feeds">

      <div class="item item-avatar item-button-right">
        <img src="sampledata/images/avatar.jpg">
        <h2>{{feed.title}}</h2>
        <p>{{feed.date}}</p>
      </div>

      <ion-list can-swipe="true">
        <ion-item class="item item-avatar">
          <img ng-src="{{feed.image}}" alt="">
          <h2 class="title white-cxolor">{{feed.description}}</h2>
          <p>{{feed.date}}</p>
        </ion-item>
      </ion-list>

      <-- comment and like buttons do nothing in this example ->
      <div class="item tabs tabs-deepblue tabs-icon-left">

      </div>
    </div-->
    <div ng-repeat="feed in getPontos()">

	      <div class="item item-avatar item-button-right">
	        <img src="sampledata/images/avatar.jpg">
	        <h2>{{feed.categoria.nome}} {{feed.produto.nome}}</h2>
          <p>{{feed.data | date: 'dd/MM/yyyy' }}</p>
	        <p style={{feed.tipo=='C'?"color:black":"color:red;"}}>{{feed.quantidade}} Pts {{feed.tipo=='C'?'(+)':'(-)'}}</p>
	      </div>

	      <!-- comment and like buttons do nothing in this example -->
	      <div class="item tabs tabs-deepblue tabs-icon-left">

	      </div>
	    </div>

  </ion-content>
</ion-view>
