<ion-view view-title="Lanchonete" hide-back-button="true">

  <!-- we use a subheader component to show total and links to checkout and shop-->

  <form name="lanchoneteForm">
  <ion-content class="has-header has-subheader has-footer">

    <label class="item item-input" >
      <span class="input-label">Pontos</span>
      <input type="text" ng-model="lanchonete.pontos" name="pontos"  required>
    </label>
    <label class="item item-input" >
      <span class="input-label">Matricula</span>
      <input type="text" ng-model="lanchonete.matricula" name="matricula" ng-blur="buscaAluno()"  required>
    </label>


    <div class="item ui-gradient-deepblue" ng-show="showAluno">
      <h2 class="title white-color sans-pro-light">{{usuario.nome}}</h2>
      <img ng-src="{{usuario.foto}}" class="avatar-menu" ng-show="showAluno">
    </div>

    <label class="item item-input" >
      <span class="input-label">Senha</span>
      <input type="password" ng-model="lanchonete.senha" name="senha"  required>
    </label>

    <button ng-show="showAluno" class="button button-energized" ng-click="validaTroca(lanchonete)" >Trocar</button>



    <!--
      #IMPLEMENTATION-DETAIL:
      we are using a swipeable list to give an interface to remove products
      from the cart. This is done by binding the "can-swipe" attribute of an
      "ion-list" to true.
    -->
    <ion-list can-swipe="true">
      <ion-item class="item item-avatar" ng-repeat="product in cart.products track by $index" >
        <!--
          #IMPLEMENTATION-DETAIL:
          we are using our custom classes here.
          see file scss/views.scss for implementation
        -->
        <img ng-src="{{product.image}}" alt="">
        <h2 class="title white-cxolor">{{product.title}}</h2>
        <p>{{product.price}} $</p>

        <!--
          #TIP: <ion-option-button> must be put into an <ion-item> and is visible only when our list is swiped. You can add more than one button here.
        -->
        <ion-option-button class="button-assertive" ng-click="dropProduct($index)">RETIRAR</ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
  </form>

  <!-- in case we have items, explain how to remove them in footer -->
  <ion-footer-bar class="bar" ng-class="{'bar-energized' : cart.products.length , 'bar-deepblue' : !cart.products.length}" ui-sref="{{ cart.products.length  ? 'app.checkout' : '#' }}">
    <h2 class="title" ng-if="cart.products.length">Concluir</h2>
  </ion-footer-bar>

</ion-view>
