<ion-view view-title="Loja" hide-back-button="true">

    <ion-nav-buttons side="right">
    <span ui-sref="app.cart" >

      <button class="button button-clear icon ion-android-cart white-color">

      </button>
      <span ng-show="cart.products.length" class="cart-badge ng-hide">{{cart.products.length}}</span>
    </span>
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
    <span ui-sref="app.cart" >
      Pedido: {{codigoResgate}}

    </span>
    </ion-nav-buttons>


  <ion-content>

    <div ng-repeat="product in products">

      <div class="item ui-gradient-deepblue">
        <h2 class="title white-color sans-pro-light">{{product.nome}}</h2>
      </div>

      <div class="item item-image" style="position:relative;">
        <img ng-src="{{product.caminhoImagem}}" >
        <button class="button button-positive product-price" ng-click="addProduct(product)">
            <p class="white-color product-price-price"><b>{{product.valor}}</b> Pts</p>
            <p class="white-color product-price-text">
                <i class="ion-android-cart"></i> <span></span>
            </p>
        </button>

      </div>

      <div class="item item-body">
        {{product.descricao}}
      </div>
    </div>


  </ion-content>
</ion-view>
