<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">

  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
    <button ui-sref="app.start" class="button button-clear button-deepblue-white"><i class="white-color ion-arrow-left-c"></i></button>
    <h2 class="title">Cadastro</h2>
  </ion-header-bar>

  <ion-content class="has-header has-footer padding full-height text-center">

    <div style="padding-top:50px;">
    <h3 class="sans-pro-light">Por favor, entre com as informações</h3>

    <label class="item item-input">
        <input type="text" placeholder="Nome">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="email">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="senha">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="repita a senha">
    </label>

    <!--
      #NOT-IMPLEMENTED:
      the button does nothing, implementation is up to you!
    -->
    <button class="button button-block button-energized" ui-sref="app.account">CADASTRAR</button>

    </div>


  </ion-content>

  <!-- we provide a link back to login in footer bar -->
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.login">
    <h1 class="title sans-pro-light">Login</h1>
  </ion-footer-bar>

</ion-view>
