<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">

  <!--
    #IMPLEMENTATION-DETAIL
    We are using custom classes in "scss/scaffolding.scss"
  -->
  <ion-content class="padding full-height">
    <h1 class="text-center white-color home-title">

    </h1>

    <h3 class="white-color text-center sans-pro-light">
        <img src="img/LOGO DM.png" height="50%" width="50%" alt="Divino Mestre" >
    </h3>

    <h3 class="white-color text-center sans-pro-light">
        <img src="img/ganhaMais.png" height="50%" width="50%" alt="Ganha Mais" >
    </h3>

    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <button class="button button-large button-positive button-block" ui-sref="app.login">LOGIN</button>
        </div>
        <div class="col col-20"></div>
    </div>

    <h4 class="white-color text-center sans-pro-light">
      O projeto Ganha Mais tem como objetivo estimular os nossos estudantes
      a buscar a melhoria contínua em sua vida acadêmica, além de vivenciar na
      prática o aprendizado sobre Educação Financeira.<br>
      Neste aplicativo você poderá acompanhar a pontuação e resgatar os prêmios
      disponíveis.<br>
      Garantimos que no final todos sairemos ganhando MAIS.
    </h4>
  </ion-content>

  <!--
   We put a link to signup screen in footer bar.
  -->

  <
  <!--ion-footer-bar ui-sref="app.signup" class="bar bar-positive bar-deepblue-bordertop pointer">
    <h1 class="title sans-pro-light">Cadastro</h1>
  </ion-footer-bar-->

</ion-view>
