<!doctype html>
<html ng-app="GanhaMaisApp">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Ganha Mais</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/material-kit.css" rel="stylesheet"/>
    
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    
    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <script src="/assets/plugins/angularjs/angular.min.js"></script>
    <script src="/assets/plugins/angularjs/angular-resource.min.js"></script>
    <script src="/assets/plugins/angularjs/angular-ui-router.min.js"></script>
    <script src="/assets/plugins/angularjs/ocLazyLoad.min.js"></script>

    <!-- END CORE ANGULARJS PLUGINS -->
    
    <!-- APP CORE -->
    <script src="/js/app.module.js" type="text/javascript"></script>
    <script src="/js/appController.js" type="text/javascript"></script>
        
    <script src="/js/route-config.js" type="text/javascript"></script>    
    <script src="js/settings.factory.js" type="text/javascript"></script>
    <!-- FIM APP CORE --> 
         
    <!-- LOGIN -->
    <script src="/views/login/login.module.js" type="text/javascript"></script>
    <script src="/views/login/login.route.js" type="text/javascript"></script>
    <script src="/views/login/LoginController.js" type="text/javascript"></script>

</head>

<body class="signup-page">
	<nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		
        	</div>
        	
        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
					<li>
    					<a class="navbar-brand" href="http://www.colegiodivinomestre.com.br">Divino Mestre</a>
    				</li>    				
        		</ul>
        	</div>
    	</div>
        	
    	</div>
    </nav>

    <div class="wrapper">
		<div class="header header-filter" style="background-image: url('/assets/img/logo dm.png'); background-size: cover; background-position: top center;">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						<div class="card card-signup">
							<form class="form" method="" action="">
								<div class="header header-primary text-center">
									<img alt="Ganhe Mais" width="140" height="70" src="/assets/img/ganhaMais.png">	
															
								</div>
								
								<div class="content">

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
										<input type="text" class="form-control" placeholder="Matricula..." ng-model="appCtrl.usuario">
									</div>									

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<input type="password" placeholder="Senha..." class="form-control" ng-model="appCtrl.senha" />
									</div>

									<!-- If you want to add a checkbox to this form, uncomment this code

									<div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
											Subscribe to newsletter
										</label>
									</div> -->
								</div>
								<div class="footer text-center">									
									<md-button class="btn btn-simple btn-primary btn-lg" ng-click="appCtrl.login()">
								        Entrar
								    </md-button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			

		</div>

    </div>


</body>
	<!--   Core JS Files   -->
	<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/assets/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/assets/js/material-kit.js" type="text/javascript"></script>

</html>
