<!-- md-dialog aria-label="Pontos da Turma">
<md-dialog-content-->
<div class="row" id="popupContainer">
                    <div class="col-md-12">
                        <div class="card">	    
                        	<div class="card-header" data-background-color="purple">
                                <h4 class="title">Edição de Categoria</h4>
								<p class="category">Preencha todos os campos, para incluir uma nova categoria.	</p>
                            </div>                        
                            <div class="card-content">
                                <form name="form" ng-submit="categoriaEditCtrl.saveCategoria()">
                                    <div class="row">
                                        <div class="col-md-6">	                                        												
											<md-input-container class="md-block" flex-gt-sm>
									            <label>Nome</label>
									            <input ng-model="categoriaEditCtrl.categoria.nome" required>
								          	</md-input-container>
                                        </div>
                                        <div class="col-md-3">												
											<md-input-container class="md-block" flex-gt-sm>
									            <label>Pontos</label>
									            <input ng-model="categoriaEditCtrl.categoria.pontos" type="number" required>
									        </md-input-container>
                                        </div>	 
                                        <div class="col-md-3">
                                        	<md-checkbox ng-model="categoriaEditCtrl.categoria.coletivo" aria-label="Coletivo">
											  Coletivo
											</md-checkbox>	
                                        </div>                                       
									</div>	                                    
                                  
                                    <div class="row">
                                        <div class="col-md-6">
                                        	<md-input-container class="md-block" flex-gt-sm>
									            <label>Medida</label>
									            
												<md-select ng-model="categoriaEditCtrl.categoria.unidadeMedida" required>
										            <md-option><em>""</em></md-option>
										            <md-option ng-repeat="m in categoriaEditCtrl.medidas" ng-value="m.nome">
										              {{m.nome}}
										            </md-option>
										        </md-select>
									        </md-input-container>	                                            
                                        </div>
                                        <div class="col-md-6">
                                        	<md-checkbox ng-model="categoriaEditCtrl.categoria.ativo" aria-label="Ativo">
											  Ativo
											</md-checkbox>	
                                        </div> 
                                    </div>	
                                    
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                        	<md-checkbox ng-model="categoriaEditCtrl.categoria.porUnidade" aria-label="Por Unidade">
											  Por Unidade?
											</md-checkbox>	
                                        </div> 
                                        
                                        <div class="col-md-6">
                                        	<md-checkbox ng-model="categoriaEditCtrl.categoria.pontoVariavel" aria-label="Pontos 0 a 5">
											  Pontos 0 a 5?
											</md-checkbox>	
                                        </div> 
                                    </div>
                                    
                                    <div class="row">	                                        
                                        <div class="col-md-10">
											     
                                        </div>
                                        <div class="col-md-2">
					                            <button type="submit" class="btn btn-primary btn-round btn-just-icon" title="Incluir" ><i class="material-icons">save</i></button>
					                    </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>						
                </div>