<!doctype html>
 <div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-header" data-background-color="purple">
                 <h4 class="title">Categorias</h4>
                 <p class="category">Lista de categorias cadastradas</p>
             </div>                  
             <div class="col-md-10"></div>
				<div class="col-md-2">												
				<a ui-sref="cadastroCategoria" class="btn btn-primary btn-round btn-just-icon" title="Adicionar Categoria">
                       <i class="material-icons">playlist_add</i>
                   </a>                  
			 </div>
             <div class="card-content table-responsive">
                 <table class="table">
                     <thead class="text-primary">                     	
                     	<th width="45%">Nome</th>
                     	<th width="15%">Pontos</th>
                     	<th width="15%">Coletivo</th>
                     	<th width="15%">Ativo</th>
                     	<th width="10%"></th>
                     </thead>
                     <tbody>
                         <tr ng-repeat="c in categoriaCtrl.categorias">                         	
                         	<td>{{c.nome}}</td>
                         	<td>{{c.pontos}}</td>     
                         	<td><i class="material-icons" ng-show="c.coletivo">check</i></td>                     	
                         	<td><i class="material-icons" ng-show="c.ativo">check</i></td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="Editar Categoria" class="btn btn-primary btn-simple btn-xs" ng-click="categoriaCtrl.editCategoria(c)">
									<i class="material-icons">edit</i>
								</button>
								<button type="button" rel="tooltip" title="Remover" class="btn btn-danger btn-simple btn-xs" ng-click="categoriaCtrl.excluiCategoria(c)">
									<i class="material-icons">close</i>
								</button>														
							</td>
                         </tr>
                     </tbody>
                 </table>

             </div>
         </div>
     </div>          
 </div>
        