<div class="row" id="popupContainer">
	<div class="col-md-12">
        <div class="card">	    
	       	<div class="card-header" data-background-color="purple">
	        	<h4 class="title">Alterar Senha</h4>
	        </div>                        
            <div class="card-content">
                <form name="form" ng-submit="alunoCtrl.alteraSenha()">
                	<div class="row">                    	
                        <div class="col-md-6">												
							<md-input-container class="md-block" flex-gt-sm>
					            <label>Login</label>
					            <input ng-model="alunoCtrl.usuario.login" type="text" ng-disabled="true">
					        </md-input-container>
                        </div>	 
                        <div class="col-md-6">												
							<md-input-container class="md-block" flex-gt-sm>
					            <label>Senha</label>
					            <input ng-model="alunoCtrl.usuario.senha" type="password" required>
					        </md-input-container>
                        </div>	                                       
					</div>	                                    
                                                      
                    <div class="col-md-2">
                    	<button type="submit" class="btn btn-primary btn-round btn-just-icon" title="Alterar" ><i class="material-icons">save</i></button>
             		</div>                                                           
            	</form>
        	</div>
    	</div>
    </div>						
</div>
