<!-- md-dialog aria-label="Pontos da Turma">
<md-dialog-content-->
<div class="row" id="popupContainer">
      <div class="col-md-12">
          <div class="card">	    
          	<div class="card-header" data-background-color="purple">
                  <h4 class="title">Carga de Alunos</h4>
				<p class="category">Selecione um arquivo para realizar a carga.	</p>
              </div>                        
              <div class="card-content">
                  <form name="form" ng-submit="cargaAlunoCtrl.cargaArquivo()">	                                        	                                    	                                  	                                   		                                    
                      <div class="row">	                                        
                          <div class="col-md-10">
								<choose-file layout="row" flex="25">
							    <input id="fileInput" type="file" class="ng-hide">
							    <md-input-container flex class="md-block" flex-gt-sm>
							     	<label>Arquivo</label>
							      <input type="text"  ng-model="fileNameCarga" disabled aria-label="Escolha o Arquivo" required>							      
							    </md-input-container>
							    <div>
							      <md-button id="uploadButton" class="md-fab md-mini">
							        <md-icon class="material-icons">attach_file</md-icon>
							      </md-button>
							    </div>
							  </choose-file>      
                          </div>
                          <div class="col-md-2">
			                       <button type="submit" ng-disabled="!form.$valid" class="btn btn-primary btn-round btn-just-icon" title="Incluir" ><i class="material-icons">save</i></button>			                       
			               </div>	
                      </div>                                    
                  </form>
              </div>
          </div>
      </div>						
  </div>