<!doctype html>
 <div class="row" id="alunos"> 	
     <div class="col-md-12">
         <div class="card">
             <div class="card-header" data-background-color="purple">
                 <h4 class="title">Extrato de Pontos</h4>                 
             </div>                     
             <div class="card-content table-responsive">
                 <table class="table">
                     <thead class="text-primary">                     	
                     	<th>Unidade</th>
                     	<th>Quantidade</th>
						<th>Tipo</th>
						<th>Categoria</th>
						<th>Produto</th>
						<th>Responsável</th>
						<th>Data</th>
                     </thead>
                     <tbody>
                         <tr ng-repeat="p in dialogCtrl.aluno.pontos">                         	
                         	<td>{{p.unidade}}</td>
                         	<td>{{p.quantidade}}</td>
							<td>{{p.tipo}}</td>
							<td>{{p.categoria.nome}}</td>
							<td>{{p.produto.nome}}</td>
							<td>{{p.responsavel.login}}</td>
							<td>{{p.data | date: 'dd/MM/yyyy' }}</td>							
                         </tr>
                     </tbody>
                 </table>

             </div>
         </div>
     </div>                  
 </div>        