<!doctype html>
 <div class="row" id="alunos"> 	
     <div class="col-md-12">
         <div class="card">
             <div class="card-header" data-background-color="purple">
                 <h4 class="title">Alunos</h4>
                 <p class="category">Lista de todos os alunos matriculados</p>
             </div>  
             <div class="col-md-12">
         		<form class="navbar-form navbar-left" role="search">
					<div class="form-group  is-empty">
	                      	<input type="text" class="form-control" ng-model="alunoCtrl.aluno.matricula" placeholder="Matrícula">
	                      	<span class="material-input"></span>
					</div>
					
					<button type="submit" class="btn btn-primary btn-round btn-just-icon" ng-click="alunoCtrl.buscaAluno()" title="Incluir Pontos da(s) Turma(s)"><i class="material-icons">search</i></button>					
                </form>
          	</div>                
             <div class="card-content table-responsive">
                 <table class="table">
                     <thead class="text-primary">
                     	<th>Matricula</th>
                     	<th>Nome</th>
                     	<th>Turma</th>
						<th>E-mail</th>
						<th>Saldo</th>
						<th width="10%"></th>
                     </thead>
                     <tbody>
                         <tr ng-repeat="a in alunoCtrl.alunos">
                         	<td>{{a.matricula}}</td>
                         	<td>{{a.nome}}</td>
                         	<td>{{a.turma.nome}}</td>
							<td>{{a.email}}</td>
							<td>{{a.saldoPontos}}</td>
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="Alterar Senha" class="btn btn-primary btn-simple btn-xs" ng-click="alunoCtrl.showAlteraSenha(a)">
									<i class="material-icons">lock_outline</i>
								</button>	
								<button type="button" rel="tooltip" title="Extrato de Pontos" class="btn btn-primary btn-simple btn-xs" ng-click="alunoCtrl.showExtrato(a)">
									<i class="material-icons">list</i>
								</button>																				
							</td>
                         </tr>
                     </tbody>
                 </table>

             </div>
         </div>
     </div>                  
 </div>
        