<!-- md-dialog aria-label="Pontos da Turma">
<md-dialog-content-->
<div class="row" id="popupContainer">
	                    <div class="col-md-12">
	                        <div class="card">	    
	                        	<div class="card-header" data-background-color="purple">
	                                <h4 class="title">Edição de Produto</h4>
									<p class="category">Preencha todos os campos, para alterar um produto.	</p>
	                            </div>                        
	                            <div class="card-content">
	                                <form name="form" ng-submit="produtoEditCtrl.saveProduto()">
	                                    <div class="row">
	                                        <div class="col-md-6">	                                        												
												<md-input-container class="md-block" flex-gt-sm>
										            <label>Nome</label>
										            <input ng-model="produtoEditCtrl.produto.nome" required>
									          	</md-input-container>
	                                        </div>
	                                        <div class="col-md-3">												
												<md-input-container class="md-block" flex-gt-sm>
										            <label>Valor</label>
										            <input ng-model="produtoEditCtrl.produto.valor" type="number" required>
										        </md-input-container>
	                                        </div>	 
	                                        <div class="col-md-3">
	                                        	<md-checkbox ng-model="produtoEditCtrl.produto.destaque" aria-label="Destaque">
												  Destaque
												</md-checkbox>	
	                                        </div>                                       
										</div>	                                    
	                                  
	                                    <div class="row">
	                                        <div class="col-md-12">
	                                        	<md-input-container class="md-block" flex-gt-sm>
										            <label>Descrição</label>
										            <textarea rows="5" ng-model="produtoEditCtrl.produto.descricao" required></textarea>
										        </md-input-container>	                                            
	                                        </div>
	                                    </div>	
	                                    
	                                    <div class="row">	                                        
	                                        <div class="col-md-10">
												<choose-file layout="row" flex="25">
											    <input id="fileInput" type="file" class="ng-hide">
											    <md-input-container flex class="md-block" flex-gt-sm>
											     	<label>Foto</label>
											      <input type="text"  ng-model="fileName" disabled aria-label="Escolha a Foto" >
											      
											    </md-input-container>
											    <div>
											      <md-button id="uploadButton" class="md-fab md-mini">
											        <md-icon class="material-icons">attach_file</md-icon>
											      </md-button>
											    </div>
											  </choose-file>      
	                                        </div>
	                                        <div class="col-md-2">
						                            <button type="submit" class="btn btn-primary btn-round btn-just-icon" title="Alterar" ><i class="material-icons">save</i></button>
						                    </div>
	                                    </div>                                    
	                                </form>
	                            </div>
	                        </div>
	                    </div>						
	                </div>
<!--</md-dialog-content>

<md-dialog-actions layout="row">
      
      <md-button ng-click="answer('useful')">
        Pontuar
      </md-button>
    </md-dialog-actions>

</md-dialog>-->