<!doctype html>
 <div class="row">
     <div class="col-md-12">
         <div class="card">
             <div class="card-header" data-background-color="purple">
                 <h4 class="title">Produtos</h4>
                 <p class="category">Lista de produtos cadastrados</p>
             </div>                  
             <div class="col-md-10"></div>
				<div class="col-md-2">
				<!-- button type="submit" class="btn btn-primary btn-round btn-just-icon" ng-click="produtoCtrl.addProduto($event)" title="Adicionar Produto"><i class="material-icons">playlist_add</i></button-->									
				<a ui-sref="cadastroProduto" class="btn btn-primary btn-round btn-just-icon" title="Adicionar Produto">
                       <i class="material-icons">playlist_add</i>
                   </a>                  
			 </div>
             <div class="card-content table-responsive">
                 <table class="table">
                     <thead class="text-primary">
                     	<th width="20%">Codigo</th>
                     	<th width="40%">Nome</th>
                     	<th width="15%">Pontos</th>
                     	<th width="15%">Destaque</th>
                     	<th width="10%"></th>
                     </thead>
                     <tbody>
                         <tr ng-repeat="p in produtoCtrl.produtos">
                         	<td>{{p.id}}</td>
                         	<td>{{p.nome}}</td>
                         	<td>{{p.valor}}</td>     
                         	<td><i class="material-icons" ng-show="p.destaque">check</i></td>                     	
							<td class="td-actions text-right">
								<button type="button" rel="tooltip" title="Editar Produto" class="btn btn-primary btn-simple btn-xs" ng-click="produtoCtrl.editProduto(p)">
									<i class="material-icons">edit</i>
								</button>
								<button type="button" rel="tooltip" title="Remover" class="btn btn-danger btn-simple btn-xs" ng-click="produtoCtrl.excluiProduto(p)">
									<i class="material-icons">close</i>
								</button>														
							</td>
                         </tr>
                     </tbody>
                 </table>

             </div>
         </div>
     </div>          
 </div>
        