<!-- md-dialog aria-label="Pontos da Turma">
<md-dialog-content-->
<div class="row" ng-init="reloadRoute()">
	                    <div class="col-md-12">
	                        <div class="card">	    
	                        	<div class="card-header" data-background-color="purple">
	                                <h4 class="title">Cadastro de Produtos</h4>
									<p class="category">Preencha todos os campos, para incluir um novo produto.	</p>
	                            </div>                        
	                            <div class="card-content">
	                                <form>
	                                    <div class="row">
	                                        <div class="col-md-6">	                                        
												<div class="form-group ">
													
													<input type="text" class="form-control" placeholder="Nome" ng-model="produtoCtrl.produto.nome">
												</div>
													<md-input-container class="md-block" flex-gt-sm>
											            <label>First name</label>
											            <input ng-model="produtoCtrl.produto.nome">
											          </md-input-container>
										        <div class="form-group label-floating">
													<label class="control-label">Nome</label>
													<input type="text" class="form-control" >
												</div>
	                                        </div>
	                                        <div class="col-md-3">
												<div class="form-group ">													
													<input type="text" class="form-control"  placeholder="Valor" ng-model="produtoCtrl.produto.valor">
												</div>
	                                        </div>	 
	                                        <div class="col-md-3">	                                        	
												<md-checkbox ng-model="produtoCtrl.produto.destaque" aria-label="Destaque">
												  Destaque
												</md-checkbox>													
	                                        </div>                                       
										</div>	                                    
	                                  
	                                    <div class="row">
	                                        <div class="col-md-12">
	                                            <div class="form-group">	                                                
													<div class="form-group ">									    				
								    					<textarea class="form-control" rows="5"  placeholder="Descrição" ng-model="produtoCtrl.produto.descricao"></textarea>
		                        					</div>
	                                            </div>
	                                        </div>
	                                    </div>	
	                                    
	                                    <div class="row">	                                        
	                                        <div class="col-md-10">
												<choose-file layout="row" flex="25">
											    <input id="fileInput" type="file" class="ng-hide">
											    <md-input-container flex class="md-block">
											      <input type="text"  ng-model="fileName" disabled aria-label="Escolha a Foto" >
											      <div class="hint">Escolha a Foto</div>
											    </md-input-container>
											    <div>
											      <md-button id="uploadButton" class="md-fab md-mini">
											        <md-icon class="material-icons">attach_file</md-icon>
											      </md-button>
											    </div>
											  </choose-file>      
	                                        </div>
	                                        <div class="col-md-2">
						                            <button type="submit" class="btn btn-primary btn-round btn-just-icon" ng-click="" title="Incluir" ><i class="material-icons">save</i></button>
						                    </div>
	                                    </div>                                    
	                                </form>
	                            </div>
	                        </div>
	                    </div>						
	                </div>
<!--</md-dialog-content>

<md-dialog-actions layout="row">
      
      <md-button ng-click="answer('useful')">
        Pontuar
      </md-button>
    </md-dialog-actions>

</md-dialog>-->