<!doctype html>
 <div class="row">
 	<div class="col-md-12">
    	<div class="card">
	        <div class="card-header" data-background-color="purple">
	            <h4 class="title">Cadastro de Pontos</h4>
	            <p class="category">Escolha a Turma</p>
	        </div>
            <div class="card-content"> 
            <div class="row">      
			      	<div class="col-md-12">
			            <md-list ng-cloak>			
						  <md-list-item ng-repeat="turma in pontoCtrl.turmas">
						    <p> {{ turma.nome }} </p>
						    <md-checkbox class="md-secondary" ng-model="turma.checked"></md-checkbox>
						    <!-- md-icon class="md-secondary" ng-click="pontoCtrl.getAlunosTurma(topping, $event)" aria-label="Chat" md-font-icon="list" ><i title="Lista alunos da Turma" class='material-icons'>list</i></md-icon-->						    
						  </md-list-item>
						</md-list>
					</div>	
					<div class="col-md-10"></div>
					<div class="col-md-2">
						<button type="submit" class="btn btn-primary btn-round btn-just-icon" ng-click="pontoCtrl.addPontosTurma($event)" title="Incluir Pontos da(s) Turma(s)"><i class="material-icons">playlist_add_check</i></button>					
					</div>				
			             
			        <div class="clearfix"></div>
			        <!-- 
			        <md-divider></md-divider>
			        <md-subheader class="md-no-sticky">Alunos</md-subheader>

			        <div class="col-md-12" ng-hide="pontoCtrl.mostraAluno">
			            <md-list ng-cloak>			
						  <md-list-item ng-repeat="person in pontoCtrl.listaAlunos" class="noright">
						    <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
						    <p>{{ person.name }}</p>
						    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>						    						    
						  </md-list-item>
						</md-list>
					</div>       
			    
					<div class="col-md-10"></div>
					<div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-round btn-just-icon" ng-click="pontoCtrl.addPontosAluno($event)" title="Incluir Pontos do(s) Aluno(s)" ng-hide="pontoCtrl.mostraAluno"><i class="material-icons">playlist_add_check</i></button>
                    </div>
                            <div class="clearfix"></div>
                        
                    </div>
                     -->
                </div>
            </div>

</div>        
