<md-dialog aria-label="Pontos da Turma">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pontos da Turma</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        
        <div class="col-md-12">
    	<div class="card">
	        <div class="card-header" data-background-color="purple">
	            <h4 class="title">Cadastro de Pontos</h4>
	            <p class="category">Escolha a Turma</p>
	        </div>
	    </div>
	  </div>
      </div>    
      
    </md-toolbar>

    <md-dialog-content>
<div class="row">  
			      	
			      	<div class="col-md-6">
			      		<label class="control-label">Categoria 1</label>
				      	<div flex-xs flex="50">
				            <md-checkbox aria-label="Marcar Todos"
				                         ng-checked="dialogCtrl.isChecked()"
				                         md-indeterminate="dialogCtrl.isIndeterminate()"
				                         ng-click="dialogCtrl.toggleAll()">
				              <span ng-if="dialogCtrl.isChecked()">Desmarcar-</span> Todos
				            </md-checkbox>
				          </div>
				            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in dialogCtrl.items">
				              <md-checkbox ng-checked="dialogCtrl.exists(item, dialogCtrl.selected)" ng-click="dialogCtrl.toggle(item, dialogCtrl.selected)">
				               {{ item }}
				              </md-checkbox>
				            </div>
			      	</div>
			      	
			      	<div class="col-md-6">
			      		<label class="control-label">Categoria 2</label>
				      	<div flex-xs flex="50">
				            <md-checkbox aria-label="Marcar Todos"
				                         ng-checked="dialogCtrl.isChecked()"
				                         md-indeterminate="dialogCtrl.isIndeterminate()"
				                         ng-click="dialogCtrl.toggleAll()">
				              <span ng-if="dialogCtrl.isChecked()">Desmarcar-</span> Todos
				            </md-checkbox>
				          </div>
				            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in dialogCtrl.items">
				              <md-checkbox ng-checked="dialogCtrl.exists(item, dialogCtrl.selected)" ng-click="dialogCtrl.toggle(item, dialogCtrl.selected)">
				               {{ item }}
				              </md-checkbox>
				            </div>
			      	</div>
			      		      	
			      </div>
			          </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>