<!doctype html>
 <div class="row" id="pontosAluno">
 	<div class="col-md-12">
    	<div class="card">
	        <div class="card-header" data-background-color="purple">
	            <h4 class="title">Cadastro de Pontos - Alunos</h4>
	            <p class="category">Entre com a Matrícula do aluno.</p>
	        </div>
            <div class="card-content"> 
            	<div class="row">
            		<div class="col-md-12">
            			<form class="navbar-form navbar-left" role="search">
							<div class="form-group  is-empty">
	                        	<input type="text" class="form-control" ng-model="pontoAlunoCtrl.aluno.matricula" placeholder="Matrícula">
	                        	<span class="material-input"></span>
							</div>
							
							<button type="submit" class="btn btn-primary btn-round btn-just-icon" ng-click="pontoAlunoCtrl.buscaAluno()" title="Incluir Pontos da(s) Turma(s)"><i class="material-icons">search</i></button>							
	                    </form>
            		</div>
            	</div> 
            	<div class="row">            	
	           		 <div class="col-md-12" ng-hide="!pontoAlunoCtrl.mostraAluno">
			            <md-list ng-cloak>			
						  <md-list-item ng-repeat="aluno in pontoAlunoCtrl.alunos" class="noright">
						    <img alt="{{ aluno.nome }}" ng-src="{{ aluno.foto }}" class="md-avatar" />
						    <p>{{ aluno.nome }}</p>						    						    						   
						  </md-list-item>
						</md-list>
					</div> 
           		</div>
            	<div class="row" ng-hide="!pontoAlunoCtrl.mostraAluno">     
			      	<div class="col-md-1"></div>
			      	<div class="col-md-5">
			      	<!--  label class="control-label">Unidade</label>
				      	<md-radio-group ng-model="pontoAlunoCtrl.unidade" required>					
					      <md-radio-button value=1>1</md-radio-button>
					      <md-radio-button value=2>2 </md-radio-button>
					      <md-radio-button value=3>3</md-radio-button>
					      <md-radio-button value=4>4</md-radio-button>					
					    </md-radio-group-->
					    <md-input-container class="md-block" flex-gt-sm>
				            <label>Mês</label>
				            
							<md-select ng-model="pontoAlunoCtrl.mes" required>
					            <md-option><em>""</em></md-option>
					            <md-option ng-repeat="m in pontoAlunoCtrl.meses" ng-value="m.nome">
					              {{m.nome}}
					            </md-option>
					        </md-select>
				        </md-input-container>
				    </div>
			      	<div class="col-md-5">
			      		<label class="control-label">Categorias</label>
				      	<div flex-xs flex="50">
				            <md-checkbox aria-label="Marcar Todos"
				                         ng-checked="pontoAlunoCtrl.isChecked()"
				                         md-indeterminate="pontoAlunoCtrl.isIndeterminate()"
				                         ng-click="pontoAlunoCtrl.toggleAll()">
				              <span ng-if="pontoAlunoCtrl.isChecked()">Desmarcar-</span> Todos
				            </md-checkbox>
				          </div>
				            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in pontoAlunoCtrl.items">
				              <md-checkbox ng-checked="pontoAlunoCtrl.exists(item, pontoAlunoCtrl.selected)" ng-click="pontoAlunoCtrl.toggle(item, pontoAlunoCtrl.selected)">
				               {{ item.nome }}
				              </md-checkbox>
				            </div>
			      	</div>			      	
			      	
			      	<div class="col-md-1"></div>	      	
			      </div>
			      <md-button ng-click="pontoAlunoCtrl.pontuar()">
			        Pontuar
			      </md-button>
			 </div>
		</div>
	</div>
</div>
