<md-dialog aria-label="Pontos da Turma">
  <form ng-cloak>

        <div class="col-md-12">
    	<div class="card">
	        <div class="card-header" data-background-color="purple">
	            <h4 class="title">Inclusão de Pontos</h4>
	            <p class="category">Por favor, selecione todas as categorias para inclsuão dos pontos nas turmas previamente selecionadas.</p>
	        </div>
	    </div>
	  </div>


    <md-dialog-content>
    
    <div class="row">   
     	<div class="col-md-1"></div>
     	<div class="col-md-5">
     	
		    <md-input-container class="md-block" flex-gt-sm>
	           <label class="control-label">Categorias</label>
	            
				<md-select ng-model="dialogCtrl.categoria" ng-change="dialogCtrl.verificaCategoria()">
		            <md-option><em>""</em></md-option>
		            <md-option ng-repeat="item in dialogCtrl.items" ng-value="item">
		              {{item.nome}}
		            </md-option>
		        </md-select>
	        </md-input-container>
    		</div>
     	<div class="col-md-1"></div>
     	<div class="col-md-5">
	     	<div ng-show="dialogCtrl.porUnidade">
	     		<label>Unidade</label>
		      	<md-radio-group layout="row" ng-model="dialogCtrl.unidade">					
			      <md-radio-button value=1>1</md-radio-button>
			      <md-radio-button value=2>2 </md-radio-button>
			      <md-radio-button value=3>3</md-radio-button>
			      <md-radio-button value=4>4</md-radio-button>					
			    </md-radio-group>
			</div>
			<div ng-hide="dialogCtrl.porUnidade">
			    <md-input-container class="md-block" flex-gt-sm>
		            <label>Mês</label>				    
					<md-select ng-model="dialogCtrl.mes">
			            <md-option><em>""</em></md-option>
			            <md-option ng-repeat="m in dialogCtrl.meses" ng-value="m.nome">
			              {{m.nome}}
			            </md-option>
			        </md-select>
		        </md-input-container>
		     </div>
	       <div ng-show="dialogCtrl.pontoVariavel">
		        <div layout>						       
					<label>Pontos</label>	
			      	<md-slider flex md-discrete ng-model="dialogCtrl.ponto" step="1" min="1" max="5" aria-label="rating">
			      	</md-slider>
			    </div>
	    		</div>
    		</div>     	     	      	
     </div>	
     <div class="row">   
     	<div class="col-md-10"></div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary btn-round btn-just-icon" ng-click="dialogCtrl.addCategoria()" title="Incluir Categoria"><i class="material-icons">playlist_add_check</i></button>					
		</div>				
             
        <div class="clearfix"></div>
     </div>
     <div ng-show="dialogCtrl.showCategorias">
		<div class="card-content table-responsive">
                 <table class="table">
                     <thead class="text-primary">                     	
                     	<th width="45%">Categoria</th>
                     	<th width="15%">Pontos</th>   
                     	<th width="20%">Mês/Ubidade</th>               
                     	<th width="10%"></th>
                     </thead>
                     <tbody>
                         <tr ng-repeat="c in dialogCtrl.categorias">                         	
                         	<td>{{c.nome}}</td>
                         	<td>{{c.pontos}}</td>   
                         	<td>{{c.mesUnidade}}</td>                            	
							<td class="td-actions text-right">								
								<button type="button" rel="tooltip" title="Remover" class="btn btn-danger btn-simple btn-xs" ng-click="dialogCtrl.excluiCategoria(c)">
									<i class="material-icons">close</i>
								</button>														
							</td>
                         </tr>
                     </tbody>
                 </table>
             </div>
        </div>
    <!-- Layout antigo -->
<!-- <div class="row">   
			      	<div class="col-md-1"></div>
			      	<div class="col-md-5">
			      	<label class="control-label">Unidade</label>
				      	<md-radio-group ng-model="dialogCtrl.unidade">					
					      <md-radio-button value=1>1</md-radio-button>
					      <md-radio-button value=2>2 </md-radio-button>
					      <md-radio-button value=3>3</md-radio-button>
					      <md-radio-button value=4>4</md-radio-button>					
					    </md-radio-group>
					    <md-input-container class="md-block" flex-gt-sm>
				            <label>Mês</label>
				            
							<md-select ng-model="dialogCtrl.mes">
					            <md-option><em>""</em></md-option>
					            <md-option ng-repeat="m in dialogCtrl.meses" ng-value="m.nome">
					              {{m.nome}}
					            </md-option>
					        </md-select>
				        </md-input-container>
				    </div>
			      	<div class="col-md-5">
			      		<label class="control-label">Categorias</label>
				      	<div flex-xs flex="50">
				            <md-checkbox aria-label="Marcar Todos"
				                         ng-checked="dialogCtrl.isChecked()"
				                         md-indeterminate="dialogCtrl.isIndeterminate()"
				                         ng-click="dialogCtrl.toggleAll()">
				              <span ng-if="dialogCtrl.isChecked()">Desmarcar-</span> Todos
				            </md-checkbox>
				          </div>
				            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in dialogCtrl.items">
				              <md-checkbox ng-checked="dialogCtrl.exists(item, dialogCtrl.selected)" ng-click="dialogCtrl.toggle(item, dialogCtrl.selected)">
				               {{ item.nome }}
				              </md-checkbox>
				            </div>
			      	</div>
			      	
			      	
			      	<div class="col-md-1"></div>	      	
			      </div>	 -->		      
			          </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <md-button ng-click="dialogCtrl.pontuar()">
        Pontuar
      </md-button>      
    </md-dialog-actions>
  </form>
</md-dialog>