<!-- md-dialog aria-label="Pontos da Turma">
<md-dialog-content-->
<div class="row" id="popupContainer">
	                    <div class="col-md-12">
	                        <div class="card">	    
	                        	<div class="card-header" data-background-color="purple">
	                                <h4 class="title">Cadastro de Usuário</h4>									
	                            </div>                        
	                            <div class="card-content">
	                                <form name="form" ng-submit="usuarioCtrl.saveUsuario()">
	                                    <div class="row">
	                                        <div class="col-md-6">	                                        												
												<md-input-container class="md-block" flex-gt-sm>
										            <label>Login</label>
										            <input ng-model="usuarioCtrl.user.login" required>
									          	</md-input-container>
	                                        </div>
	                                        <div class="col-md-6">												
												<md-input-container class="md-block" flex-gt-sm>
										            <label>Senha</label>
										            <input ng-model="usuarioCtrl.user.senha" type="password" required>
										        </md-input-container>
	                                        </div>	 	                                                                             
										</div>	                                    
	                                  	<div class="col-md-2">
						                	<button type="submit" class="btn btn-primary btn-round btn-just-icon" title="Incluir" ><i class="material-icons">save</i></button>						                    
	                                    </div>                                    
	                                </form>
	                            </div>
	                        </div>
	                    </div>						
	                </div>
