<!doctype html>
 <div class="row" id="alunos"> 	
     <div class="col-md-12">
         <div class="card">
             <div class="card-header" data-background-color="purple">
                 <h4 class="title">Usuários</h4>
                 <p class="category">Lista usuários que não são alunos.</p>
             </div>           
             <div class="col-md-10"></div>
				<div class="col-md-2">												
				<a ui-sref="cadastroUsuario" class="btn btn-primary btn-round btn-just-icon" title="Adicionar Usuário">
                       <i class="material-icons">playlist_add</i>
                   </a>                  
			 </div>              
             <div class="card-content table-responsive">
                 <table class="table">
                     <thead class="text-primary">
                     	<th>Login</th>                     							
                     </thead>
                     <tbody>
                         <tr ng-repeat="u in usuarioCtrl.usuarios">
                         	<td>{{u.login}}</td>                         								
                         </tr>
                     </tbody>
                 </table>

             </div>
         </div>
     </div>                  
 </div>
        