<div class="sidebar-wrapper">
		<ul class="nav">
               <li ng-class="{active: alunosMenu}">
                   <a ui-sref="listaAluno">
                       <i class="material-icons">person</i>
                       <p>Alunos</p>
                   </a>
               </li>
               <li ng-class="{active: cargaMenu}">
                   <a ui-sref="cargaArquivo">
                       <i class="material-icons">supervisor_account</i>
                       <p>Carga de Alunos</p>
                   </a>
               </li>
               <li ng-class="{active: produtosMenu}">
                   <a ui-sref="listaProduto">
                       <i class="material-icons">add_box</i>
                       <p>Produtos</p>
                   </a>
               </li>
               <li ng-class="{active: pontosMenu}">
                   <a ui-sref="cadastroPonto">
                       <i class="material-icons">check_circle</i>
                       <p>Pontos Coletivo</p>
                   </a>
               </li>
               <li ng-class="{active: pontosAlunoMenu}">
                   <a ui-sref="cadastroPontoAluno">
                       <i class="material-icons">check_circle</i>
                       <p>Pontos Aluno</p>
                   </a>
               </li>
               <li ng-class="{active: usuarioMenu}">
                   <a ui-sref="listaUsuario">
                       <i class="material-icons">verified_user</i>
                       <p>Usuários</p>
                   </a>
               </li>
               <li ng-class="{active: categoriaMenu}">
                   <a ui-sref="listaCategoria">
                       <i class="material-icons">add_box</i>
                       <p>Categorias</p>
                   </a>
               </li>
           </ul>
   	</div>
</div>